/* Fonts */

@font-face {
    font-family: "Jost";
    font-weight: normal;
    font-style: normal;
    font-variation-settings: 'wght' 400;
    src: url("../fonts/jost/Jost-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Jost";
    font-weight: normal;
    font-style: italic;
    font-variation-settings: 'wght' 400;
    src: url("../fonts/jost/Jost-Italic-VariableFont_wght.ttf");
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

p {
    font-size: 1.3rem;
}
